@media (min-width : 450px) {
  #controlKnobsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 300px;
    background-image : url(/knobPanelVertical.png);
  }
  .settingsContainer {
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
  }
  .keyboardContainer {
    width : 400px;
    height : 125px;
    background-image : url(/pianoPanel400W.png);
  }
  .keyboard {
    position : relative;
    width : 280px;
    height : 125px;
    margin-left : 60px;
    margin-top : 2px;
  }
  .keyboardSwitchPanel {
    width : 400px;
    height : 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image : url(/pianoSwitchPanel400W100H.png);
    }
}

@media (max-width : 450px) {
  #controlKnobsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 300px;
    height: 130px;
    background-image : url(/knobPanelHorizontal.png);
  }
  .settingsContainer {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }
  .keyboardContainer {
    width : 300px;
    height : 125px;
    background-image : url(/pianoPanel300W.png);
  }
  .keyboard {
    position : relative;
    width : 280px;
    height : 125px;
    margin-left : 10px;
    margin-top : 2px;
  }
  .keyboardSwitchPanel {
    width : 300px;
    height : 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image : url(/pianoSwitchPanel300W100H.png);
    }
}
.clickable {
  cursor : pointer;
}

.keyboardSwitch {
  background-image : url(/pianoSwitch20By50.png);
  width : 20px;
  height : 50px;
}

.keyboardSwitchDown {
  background-image : url(/pianoSwitchDown20By50.png);
  width : 20px;
  height : 50px;
}
/* I only had the keys class to add the point cursor, I'd rather just have a clickable class
.keys:hover {
  cursor : pointer;
}
*/
.soundBoard {
  /*background-color: darkslategray;*/
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items: center;
  align-content: center;
  min-height : 100vh;
  /*background-color: black;*/
}
body {
  background-color: #101010;
  margin : 0px;
}
.sounds {
  background-color : black;
  display : flex;
  box-sizing : border-box;
  flex-direction : column;
  width : 250px;
  height: 100%;
  align-items : center;
  padding : 10px;
  overflow-y : scroll;
  border : grey 1px solid;
  border-radius: 5px;
}
.soundButton {
  color: green;
  border: 1px solid green;
  border-style: solid none solid none;
  height: 40px;
  min-height: 40px;
  width: 210px;
  background-color: black;
  cursor: pointer;
  text-transform: capitalize;
}
.soundButton:active{
  color: lime !important; /*important to overide the inline styles. Probably should do things differently*/
}
.soundButton:hover {
  border-color: white;
}
.soundSelection {
  background-color: black;
}

/*
#controlKnobsContainer {
  display : flex;
}*/
.controlKnob {
  position: relative;
  background-color: grey;
  width : 50px;
  height : 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  border: solid 1px white;
  background-color: black;
  
  /*radial-gradient(
    #000000 0%,
    #000000 60%,
    #ffffff 75%,
    #ffffff 95%
  );*/
  margin: auto;
}
.controlKnobLine {
  position : absolute;
  left : 0px;
  top: 23.5px;
  background-color: white;
  width : 15px;
  height : 3px;
  box-shadow: 0px 0px 1px black;

}
.controlPanelText {
  text-shadow: #ffffff 0px 0px 10px,
  black 0px 0px 3px;
  user-select: none;
  margin: 10px 0px 10px 0px;
}
#waveformContainer {
  box-sizing : border-box;
  width: 300px;
  height : 300px;
  background-image: url(/waveformContainer.png);
}
#waveformDisplayConatiner {
  box-sizing : border-box;
  padding : 25px;
  width: 300px;
  height : 175px;

}
#waveformDisplay {
  box-sizing : border-box;
  width: 100%;
  height: 100%;
  background-color: black;

}
#buttonContainer {
  padding: 0px 10px 10px 10px;
}
.waveButton {
  background-image: url(/buttonBackground.png);
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: #ffffff 0px 0px 10px,
  black 0px 0px 3px;
  height: 30px;
  width: 70px;
}
.waveButtonSelected {
  background-image: url(/buttonBackground.png);
  font-size: 10px;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px yellow;
  color: yellow;
  text-shadow: #ffffff 0px 0px 10px,
  black 0px 0px 3px;
  height: 30px;
  width: 70px;
}
.genericButton {
  background-image: url(/buttonBackground.png);
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: #ffffff 0px 0px 10px,
  black 0px 0px 3px;
  height: 30px;
  width: 70px;
}
/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/